header.homepage_head{
	position: relative;
	top: inherit; 
	left: inherit;	
}
header.homepage_head{
	padding: 8px 0;
	min-height: 90px; 
	height: auto; 
	width: 100%;
	background-color: #fff;
	position: absolute;
	top: 0px; 
	left: 0px; 
	z-index: 2;
	.logosn-headers{
		padding-top: 0.6em;
	}
	.tops_head{
		.phones_headr{
			a{
				text-decoration: none; font-size: 12px;  font-weight: 700;  color: #fff;
			}
			a:hover,
			a:focus{
				text-decoration: none;
			}
			background-color: #767676;
			font-size: 12px; 
			font-weight: 700; 
			color: #fff;
		}
		.languages_text{
			font-size: 12px;
			font-weight: 600;
			color: #59595c;
			a{
				text-decoration: none;
				font-size: 12px; 
				font-weight: 600; 
				color: #59595c;	
			}
			a:focus,
			a:hover,
			a.active{
				text-decoration: none;
				font-weight: 900;
			}
		}
	}
	.menu-headers{
		text-align: right;
		ul{
			li{
				padding-left: 10px;
				padding-right: 10px;
				margin: 0; 
				margin-right: 0;
				a{
					text-transform: uppercase;
					font-size: 14px; 
					font-weight: 500; 
					color: #848486;
					padding-left: 0; 
					padding-right: 0;
				}
			}
			li:last-child{
				padding-right: 0;
			}
			li.active,
			li:hover,
			li:focus{
				a{
					text-decoration: none; 
					color: #d41a21;
				}
			}
		}
	}
}